<html>
    <head>
        <title>Title</title>
    </head>
    <body>
            <table>
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>City</th>
                    <th>Phone</th>
                    <th>email</th>
                </tr>
                <tr>
                    <td>{{first_name}}</td>
                    <td>{{last_name}}</td>
                    <td>{{city}}</td>
                    <td>{{phone}}</td>
                    <td>{{email}}</td>
                </tr>
    </table>
    </body>
</html>